<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SafeRide | Reserve</title>
 
    <link href="../static/template.css" rel="stylesheet">
    <link href="../static/reserve.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="../templates/index.html">Home</a>
                    </li>
                    <li role="presentation"><a href="../templates/reserve.html">Reserve</a>
                    </li>
                    <li role="presentation" class="active"><a href="#">Cancel a ride</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">SafeRide</h2>
        </div>
 
      <div class="jumbotron">
        <h2>Cancel Your Reservation</h2>
        
        <form class="form-signin">
          <label for="inputID" class="sr-only">ID</label>
          <input type="ID" name="inputID" id="inputID" class="form-control" placeholder="Student ID" required autofocus>
          <label for="inputName" class="sr-only">Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Student Name" required>
          <label for="inputPhone" class="sr-only">PhoneNo</label>
          <input type="phone" name="inputPhone" id="inputPhone" class="form-control" placeholder="Phone number" required>
        </form>

        <p><a class="btn gtn-lg btn-primary" href="#" role="button">Remove</a></p>
      </div>

      <footer class="footer">
        <p>Contact Us: 541-346-7433</p>
      </footer>
    </div>
</body>
</html>