<!-- 

	Project 1 CIS 422 Spring 2016
	SafeRide App
	Front-end design by Zhibin Zhang

-->

<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SafeRide | Admin Login</title>
	<meta http-equiv="refresh" content="5;url=showLogin" />
    <link href="../static/template.css" rel="stylesheet">

    <link href="../static/index.css" rel="stylesheet">
 
 </head>
 

<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
				    <li role="presentation"><a href="/">Home</a>
                    </li>
					<li role="presentation"><a href="showReserve">Reserve</a>
                    </li>
					<li role="presentation" class="active"><a href="">Admin</a>
					</li>
                </ul>
            </nav>
            <h2 class="text-muted">SafeRide</h2>
        </div>
 
        <div class="jumbotron">
            <h2>{{login_msg}}</h2><p>
        </div>
 
        <footer class="footer">
            <p>Contact Us: 541-346-7433</p>
        </footer>
 
    </div>
</body>
 
</html>