<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>SafeRide | Hours</title>
    <link href="../static/template.css" rel="stylesheet">

    <link href="../static/index.css" rel="stylesheet">
 
 </head>
 

<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://pages.uoregon.edu/saferide/index.html">Home</a>
                    </li>
                    <li role="presentation"><a href="../templates/cancel.html">Cancel A Ride</a>
                    </li>
                    <li role="presentation"><a href="../templates/login.html">Admin</a>
                    </li>
                </ul>
            </nav>
            <h2 class="text-muted">SafeRide</h2>
        </div>
 
        <div class="jumbotron">
            <h1>A ride that keeps you safe.</h1>
            <p class="lead"></p>

            <p><a class="btn btn-lg btn-success" href="showReserve" role="button">Reserve Now</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">

                <h3>Fall</h3>
                <p>Sun - Thu: 6pm - 12am</p>
                <p>Fri - Sat: 6pm - 2am</p>

                <h3>Winter</h3>
                <p>Sun - Thu: 6pm - 12am</p>
                <p>Fri - Sat: 6pm - 2am</p>
               
            </div>
 
            <div class="col-lg-6">
                <h3>Spring</h3>
                <p>Sun - Thu: 7pm - 12am</p>
                <p>Fri - Sat: 7pm -  2am</p>
 
                <h3>Summer</h3>
                <p>Sun - Thu: 9pm - 12am</p>
                <p>Fri - Sat: 9pm -  2am</p>

            </div>
        </div>
 
        <footer class="footer">
            <p>Contact Us: 541-346-7433</p>
        </footer>
 
    </div>
</body>
 
</html>