<!-- 

	Project 1 CIS 422 Spring 2016
	SafeRide App
	Front-end design by Zhibin Zhang

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SafeRide | Reserve a ride</title>
 
    <link href="../static/template.css" rel="stylesheet">
    <link href="../static/reserve.css" rel="stylesheet">
    
  </head>
 
  <body>
    <div class="container">
      <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
   				    <li role="presentation"><a href="/">Home</a>
                    </li>
					<li role="presentation" class="active"><a href="">Reserve</a>
                    </li>
					<li role="presentation"><a href="showLogin">Admin</a>
					</li>
                </ul>
            </nav>
            <h2 class="text-muted">SafeRide</h2>
        </div>
 
      <div class="jumbotron">
        <h2>Reserve a Ride for Today</h2><br>
        <form action={{url_for('rider')}} method="POST">
        <table width=60% align=center><tr><td>
		  <label for="inputName" class="sr-only">Name</label>
          <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Student Name" required autofocus>
          <label for="inputID" class="sr-only">ID</label>
          <input type="text" name="inputID" id="inputID" class="form-control" placeholder="Student ID" required>
          <label for="inputPhone" class="sr-only">PhoneNo</label>
          <input type="text" name="inputPhone" id="inputPhone" class="form-control" placeholder="Phone number" required>
          <label for="inputTime" class="sr-only">Time</label>
          <input type="text" name="inputTime" id="inputTime" class="form-control" placeholder="Pick up time (e.g. 8:30 pm)" required>
          <label for="inputFrom" class="sr-only">CurrentAddr</label>
          <input type="text" name="inputFrom" id="inputFrom" class="form-control" placeholder="Where do we pick you up?" required>
          <label for="inputTo" class="sr-only">DestAddr</label>
          <input type="text" name="inputTo" id="inputTo" class="form-control" placeholder="Where do you want to go?" required>
        
          
        
          <label for="inputComment" class="sr-only">Comment</label>
          <input type="text" name="inputComment" id="inputComment" class="form-control" placeholder="Other comments ...">
        
		<p><p>
        Group Size: <select name="inputRiders">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          </select>
		  
        &nbsp; &nbsp; &nbsp;
        <input type="submit" value="Submit" />
        </form>
      </td></tr></table>


      </div>

      <footer class="footer">
        <p>Contact Us: 541-346-7433</p>
      </footer>
    </div>
</body>
</html>