<html>
<body>
<center><form action = {{ url_for('rider') }} method = "POST">
<h3>SafeRide Wonder App - Enter your Information Below</h3>

Name<br>
<input type = "text" name = "name" autocomplete = "off"/></br>

Phone Number<br>
<input type = "text" name = "phone" autocomplete = "off" /><br>

Time To be Picked Up<br>
<input type = "text" name = "time" autocomplete = "off" /><br>

UO ID<br>
<input type = "text" name = "uo_id" autocomplete = "off" /><br>

Where You Would Like To Go<br>
<input type = "text" name = "to_addr" autocomplete = "off" /><br>

Where You Are<br>
<input type = "text" name = "from_addr" autocomplete = "off" /><br>

Number of Riders<br>
<input type = "text" name = "riders" autocomplete = "off" /><br>

Additional Comments<br>
<textarea name="comments" autocomplete = "off"/></textarea><br>

<input type = "submit" value = "submit" /><br>
</form>
</center>
</body>
</html>